*{
	margin :0;
	padding: 0;
	font-family: sans-serif;
}
.hero
{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(abc.jpg);
	background-position:center;
	background-size: cover;
	overflow-x: hidden;
	position: relative;
}
.nav-bar
{
   display: flex;
   padding: 40px 120px;
}
.nav-logo img
{
    width: 60px;
    height: auto;
}
.nav-links
{
	flex: 1;
}
.nav-links ul{
	margin-left: 50px;
	display: inline-block;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 25px;
	color: #fff;
	font-size: 25px;
	text-decoration: none;
	font-family:serif;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background-color: #fff;
	display: block;
	margin: auto;
	transition:.5s;

}
.nav-links ul li:hover::after{
	width: 100%;
}
.btn{
	padding: 15px 25px;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	background-color: brown;
	color: #fff;
}
.nav-links button{
	float: right;

}
.btn:hover{
	background-color: gray;
}
.banner-title {
	margin: 90px 140px;
	color: #fff;

}
.button{
	background-color: brown;
	color: #fff;
	padding: 10px;
	font-size: 15px;

}
.button:hover{
	background-color:gray; 
}
.banner-title h1{
	font-size: 60px;
	margin-bottom:30px; 

}
.banner-title span{
	color: brown;

}
.vertical-bar{
	height: 100%;
	left: 1	0;
	top: 0;
	position: absolute;
	background: #000;
}
.search-icon {
	height: 60%;
	width: 80px;
}
.search-icon .fa{
	margin: 45px 23px;
	display: block;
	color: #fff;
	cursor: pointer;
	font-size: 30px;

}
.social-icon{
	height: 40%;
	width: 80px;
	background: orange;
	bottom: 0;
	position: absolute;
	text-align: center;
	padding-top: 27%;

}
.social-icon .fa{
	margin: 15px 23px;
	display: block;
	padding: 8px;
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;

}
.social-icon .fa:hover{
     background-color: gra;
}
.notifications{
    display: flex;
	width: 400px;
	right: 0;
	bottom: 0;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
	position: absolute;
	align-items: center;

}
.content{
	flex-basis: 50%;
	padding: 10px;

}
.notifications-img{
	flex-basis: 50%;

}
.notifications-img img{
	width: 100%;
}
.content a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	margin: 0 10px;
	font-weight: bold;
}
.content{
	color: #fff;
}
.content p{
	text-align: right;
	margin-top: 10px;
}
   .nav-bar .fa{
   	display: none;
   }
   .content a:hover{
       color: orange;
   }
@media(max-width: 700px){
	.vertical-bar{
		display: none;
	}
	.banner-title{
		margin: 80px 40px;
	}
	.banner-title h1{
		font-size: 50px;
	}
	.notifications{
		width: 100%;
	}
	.nav-bar{
		padding: 10px 30px;
	}
	.fa-bars{
		position: absolute;
		right: 20px;
		top: 10px;
	}
	.nav-bar .fa{
		display: block;
		color: #fff;
		margin: 10px 25px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links{
		height: 100vh;
		width: 200px;
		background: #000;
		top: 0;
		right: -200px;
		position: absolute;
		text-align:left;
		z-index: 2;
	}
	.nav-links ul a{
		display: block;

	}
	.nav-links .btn{
		float: none;
		margin-top: 10px;
		margin-left: 60px;

	}

}